:root {
  --primary-color: #3481dd;
  --secondary-color: #9682dc;
  --nav: #e9e3ff;
  --background-color: #fefdff;
  --text-color: #100b1b;
  --text-color2: #ffffff;
  --button-color: #22003b;
}
